@model IEnumerable<projeto_MVC.Dominio.Paciente>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista <b>de pacientes</b></h2>

<a class="btn btn-primary pull-right" href="/Paciente/Create"><i class="fa fa-file-o" aria-hidden="true"></i> Cadastrar Usuário</a>
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td class="table-options">
            <a class="btn btn-warning" href="/Paciente/Edit/1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
            <a class="btn btn-danger" href="/Paciente/Delete/1"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</a>
        </td>
    </tr>
}

</table>
