@model projeto_MVC.Dominio.Medico

@{
    ViewBag.Title = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agenda</h2>

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="IdMedico">Médico</label>
                <select data-placeholder="Selecione..." class="chosen-select form-control" name="IdMedico" id="IdMedico">
                    <option><option>
                    @foreach (projeto_MVC.Dominio.Medico medico in ViewBag.filtros.Medicos)
                    {
                        <option value="@medico.Id">@medico.Nome</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="IdPaciente">Paciente</label>
                <select data-placeholder="Selecione..." class="chosen-select form-control" name="IdPaciente" id="IdPaciente">
                    <option><option>
                    @foreach (projeto_MVC.Dominio.Paciente paciente in ViewBag.filtros.Pacientes)
                    {
                        <option value="@paciente.Id">@paciente.Nome</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <button id="bt_buscar" class="btn btn-default">Buscar</button>
            </div>
        </div>
    </div>
<div class="text-center">
    <div id="calendar" style="width:950px; height:600px;"></div>
</div>
        
