@model projeto_MVC.Dominio.Medico

@{
    ViewBag.Title = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agenda</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="IdDayOfWorks">Médico</label>
                <select data-placeholder="Selecione..." class="chosen-select form-control" name="IdDayOfWorks" id="IdDayOfWorks" multiple>
                    @foreach (projeto_MVC.Dominio.Medico medico in ViewBag.filtros.medicos)
                    {
                        <option value="@medico.Id">@medico.Nome</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="IdDayOfWorks">Paciente</label>
                <select data-placeholder="Selecione..." class="chosen-select form-control" name="IdDayOfWorks" id="IdDayOfWorks" multiple>
                    @foreach (projeto_MVC.Dominio.Paciente paciente in ViewBag.filtros.pacientes)
                    {
                        <option value="@paciente.Id">@paciente.Nome</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-default">Buscar</button>
            </div>
        </div>
    </div>

}

        <div id="calendar"></div>
