@model projeto_MVC.Dominio.Medico

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Medico</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Crm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Crm, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type="email" } })   
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="IdEspecialidades">Especialidade</label>
            <div class="col-md-10">
                <select multiple data-placeholder="Selecione..." class="chosen-select form-control" id="IdEspecialidades" name="IdEspecialidades">
                    @foreach (projeto_MVC.Dominio.Especialidade especialidade in ViewBag.Especialidades)
                    {
                        <option value="@especialidade.Id">@especialidade.Nome</option>
                    }

                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HrInicio">Início do atendimento</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HrInicio, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HrFim">Fim do atendimento</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HrFim, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DuracaoConsulta">Duração da Consulta</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DuracaoConsulta, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="IdDayOfWorks">Dias de atendimento</label>
            <div class="col-md-10">
                <select data-placeholder="Selecione..." class="chosen-select form-control" name="IdDayOfWorks" id="IdDayOfWorks" multiple>
                    @for (int i = 0; i < ViewBag.DiasDaSemana.Length; i++)
                    {
                        <option value="@i">@ViewBag.DiasDaSemana[i]</option>
                    }
                </select>
            </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />  
                </div>
            </div>
        </div>

    <div>
        @Html.ValidationSummary()
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
