@model IEnumerable<projeto_MVC.Dominio.Medico>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista <b>de Médicos</b></h2>

<a class="btn btn-primary pull-right" href="/Medico/Create" ><i class="fa fa-file-o" aria-hidden="true"> </i> Cadastrar Médico</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Especialidade)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {  
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Especialidade.Nome)
        </td>*@
        <td class="table-options">
            <a class="btn btn-warning" href="/Medico/Edit/@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
            <a class="btn btn-danger" href="/Medico/Delete/@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</a>
        </td>
    </tr>
}

</table>
