<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo">
                    <img src="../Content/Images/logo.png" alt="Alternate Text" />
                </h1>
                @Html.ActionLink("Agenda", "Index", "Agenda", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> 
                        @Html.ActionLink("Especialidade", "List", "Especialidade", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Médico", "List", "Medico", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Paciente", "List", "Paciente", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Sair", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Agenda Top Master</p>
            <p class="copyright">By: Cassiano das Neves & Diego Knorst</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/fullcalendar.pt-br.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/ScriptsPages/Agenda.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
</body>
</html>